:root {
	--primary: #EA40A4;
	--business: #3A82EE;
	--personal: var(--primary);
	--light: #EEE;
	--grey: #888;
	--dark: #313154;
	--danger: #ff5b57;

	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	--business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
	--personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
	background: var(--light);
	color: var(--dark);
}

section {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5em;
}

h3 {
	color: var(--dark);
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}

h4 {
	color: var(--grey);
	font-size: 0.875rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

input{
	background-color: transparent;
	list-style: none;
	border: none;
	width: 10rem;
	height: 2rem;
	margin: 1rem;
	border-bottom: 1px solid #444;
	
}

input:focus{
	outline: none;
}

input:focus + label{
	font-size: 10px;
	font-weight: 500;
	z-index: 10;
	top: -1rem;
	left: .8rem;
	color: #444;
	transition: 1s;
}

label{
	position: relative;
}
.task{
	width: 50vw;
	display: grid;
	grid-template-columns: 50% 50%;
	justify-content: space-evenly;
}
.task button{
	width: 50%;
}

